/* Main Introduction and Instructions for Dashboard */

.jumbotron {
    border: 1px solid orange;
}

.jumbotron-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/* General Rules */

.row {
    display: inline-block;
}

/* Rules for charts */

.chart {
    margin-left: 20px;
    display: inline-block;
}

.chart-title {
    position: relative;
    left: 75px;
}

.chart-container {
    border: 5px solid black;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin-left: 50px;
    margin-right: -50px;
}
