{% extends "base.html" %}

{% block content %}

<!-- Main banner image -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Unicorn Tracker</h1>
  </div>
</div>

<!-- Rows for services description -->
<div class = "row index-lead">
    
    <div class = "col-xs-12 col-md-6">
        
        <div class = "bug-tracker-img"></div>
        
    </div>
    
    <div class = "col-xs-12 col-md-6">
    
        <ul class="list-group">
          <li class="list-group-item"><i class = "fa fa-bug"></i>Track Bugs Using With Issue Tracker</li>
          <li class="list-group-item"><i class = "fa fa-envelope"></i>Submit Your Bug and Let Our Team Fix It Completely Free</li>
          <li class="list-group-item"><i class = "fa fa-question"></i>Discover Answers To Questions About Other Bugs From Users Worldwide</li>
          <li class="list-group-item"><i class = "fa fa-battery-three-quarters"></i>Track the Progress using Our Handy Bug Tracker</li>
        </ul>
        
    </div>
    
</div>
<!-- /.row index-lead -->

<div class = "row index-center">
    
    <div class = "col-xs-12 col-md-6">
        
        <div class = "feature-request-img"></div>
        
    </div>
    
    <div class = "col-xs-12 col-md-6">
    
        <ul class="list-group">
          <li class="list-group-item">Track Bugs Using With Issue Tracker</li>
          <li class="list-group-item">Submit Your Bug and Let Our Team Fix It Completely Free</li>
          <li class="list-group-item">Discover Answers To Questions About Other Bugs From Users Worldwide</li>
          <li class="list-group-item">Track the Progress using Our Handy Bug Tracker</li>
        </ul>
        
    </div>
    
</div>
<!-- /.row index-center -->

<div class = "row index-close">
    
    <div class = "col-xs-12 col-md-6">
        
        <div class = "ticket-form-img"></div>
        
    </div>
    
    <div class = "col-xs-12 col-md-6">
    
        <ul class="list-group">
          <li class="list-group-item">Track Bugs Using With Issue Tracker</li>
          <li class="list-group-item">Submit Your Bug and Let Our Team Fix It Completely Free</li>
          <li class="list-group-item">Discover Answers To Questions About Other Bugs From Users Worldwide</li>
          <li class="list-group-item">Track the Progress using Our Handy Bug Tracker</li>
        </ul>
        
    </div>
    
</div>
<!-- /.row index-close -->

{% endblock %}