{% extends "base.html" %}

{% load bootstrap_tags %}

{% block content %}

<div class = "container">
    
    <div class="jumbotron jumbotron-fluid">
    
      <div class="container">
        <h1 class="display-4">Latest Tickets</h1>
        <p class="lead">Find the latest tickets here!</p>
      </div>
    
    </div>
    <!-- /.jumbotron jumbotron-fluid -->
    
    <div class = "row">
            
        <div class = "col-md-4">
        
            {% for ticket in tickets %}
            
            <h3>{{ ticket.name }}</h3>
            <p class = "ticket-description">{{ ticket.description }}</p>
            <p class = "ticket-upvotes">Upvotes: {{ ticket.upvotes }}</p>
            <p>{{ ticket.date }}</p>
            
            <!-- Display comments for each ticket -->
            <ul>
                {% for comment in ticket.comments.all %}
                <li>{{ comment }}</li>
                {% endfor %}
            </ul>
            
            <!-- Allow comments to be added via a form element and call to add_comment view -->
            <form method = "POST" action = "{% url 'add_comment' ticket.id %}">
            
                {% csrf_token %}
                <label for = "comment">Comment</label>
                <br>
                <input type = "text" id = "comment" name = "comment">
                <br>
                <button type = "submit" class = "btn btn-default">Add</button>
            
            </form>
            
            
            {% if is_feature %}
                <p class = "ticket-feature">Need this feature sooner? Pledge just €5 to get this feature before others, the higher the amount
                pledged, the sooner the feature will be released.
                </p>
            {% endif %}
            
            {% endfor %}
        
        </div>
    
    </div>
    
</div>

<hr class = "divider">

<div class = "container">

    <!-- Create Ticket Form -->
    <form method = "POST">
        
        {% csrf_token %}
        
        <div class="form-group col-md-12 ticket-form">
            {{ form|as_bootstrap }}
        </div>
        
        <button type = "submit" class = "btn btn-success">Create Ticket</button>
    
    </form>

</div>

{% endblock %}