{% extends "base.html" %}

{% block content %}

<!-- Check link has not been used and/or is valid -->
{% if validlink %}
    
    <!-- Form requires password confirmation and uses django form errors to provide feedback to users -->
    <form method = "POST" class = "auth-form">
        
        {% csrf_token %}
        
        <fieldset class = "form-group">
        
            <legend>Please confirm your new password.</legend>
                
            <p>{{ form.new_password1.errors }}</p>
            <p><label for = "id_new_password1">New password:</label></p>
            <p>{{ form.new_password1 }}</p>
            
            <p>{{ form.new_password2.errors }}</p>
            <p><label for="id_new_password2">Confirm password:</label></p>
            <p>{{ form.new_password2 }}</p>

            <button type = "submit" class = "btn btn-success">Submit</button>
              
        </fieldset>
        <!-- /.form-group -->
        
    </form>
    
    <!-- Provide user feedback to request new password reset link via the login url -->
    {% else %}
    
        <form method = "POST" action = "{% url 'login' %}">
    
            {% csrf_token %}
        
            <fieldset class = "form-group">
    
                <p class = "lead">Password reset unsuccessful!</p>
                <p class = "small">The password reset link was invalid. Please try again by requesting a new password.</p>
                <button type = "submit" class="btn btn-primary">Return to login</button>
            
            </fieldset>
            <!-- /.form-group -->
            
        </form>    
    
    {% endif %}

{% endblock %}