{% extends "base.html" %}

{% block content %}

<!-- Provides feedback to users that password reset process is complete with url to return to login -->
<form method = "POST" action = "{% url 'login' %}">
    
    {% csrf_token %}
    
    <fieldset class = "form-group">
        
        <p class = "lead">Your password has been successfully reset.</p>
        <button type = "submit" class = "btn btn-success">Return to login</button>
        
    </fieldset>
    <!-- /.form-group -->

</form>

{% endblock %}