{% extends "base.html" %}

{% block content %}

<!-- Allow users to input email and receive link to reset password -->
<form method = "POST" class = "auth-form">
    
    <fieldset class = "form-group">

            <legend>Reset Password</legend>
            
            {% csrf_token %}
            
            {{ form.email.errors }}
            
            <p>Please specify your email address to receive instructions for resetting your password.</p>
            <br>
                
            <p>
                <label for = "id_email" class = "control-label required-field">E-mail address:</label> {{ form.email }}
            </p>
            
            <button type="submit" class="btn btn-primary">Submit</button>
             
    </fieldset>
    <!-- /.form-group -->
     
</form>

{% endblock %}