{% extends "base.html" %}

{% block content %}

<!-- Provides feedback to users for resetting password and url to return to login -->
<form method = "POST" action = "{% url 'login' %}">
    
    {% csrf_token %}
    
    <fieldset class = "form-group">
        
        <p class = "lead">We've e-mailed you instructions for resetting your password to the e-mail address you provided.</p>
        <p class = "small">Please check your inbox and follow the instructions given.</p>
        <button type="submit" class="btn btn-primary">Return to login</button>
        
    </fieldset>

</form>

{% endblock %}