/** Helper styles **/

@media (min-width: 280px) {
    
    .bg-cadetblue {
    
        background-color: cadetblue;
    }
    
    .footer {
    
        /* Ensure footer is aligned at bottom of page and full width */
        text-align: center;
        background-color: cadetblue;
        min-height: 100px;
        bottom: 0px !important;
        width: 100%;
        border-top: 5px solid darkgray;
    }
    
    .register-form,
    .login-form,
    .auth-form {
        
        /* Center forms and set width to 75% of viewport */
        margin: 5vh auto;
        width: 75vw;
        font-size: small;
        text-align: center;
    }
    
    .register-form button,
    .login-form button,
    .auth-form button {
        
        font-size: small;
    }
    
    .modal-body {
        
        /* Ensure overflow is scrollable on create ticket form modal */
        overflow: scroll;
    }
    
    .modal-footer {
        
        /* Keeps modal buttons displayed separately for mobile screens */
        display: block;
    }

    .register-form .form-group,
    .login-form .form-group,
    .auth-form .form-group {
        
        /* Apply custom font to form groups */
        font-family: 'Roboto Mono', monospace;
    }

    .divider {
        
        border: 10px solid lightsteelblue;
        width: 50%;
        margin: 0 auto;
        border-radius: 5px;
    }

    .issue-container {
        
        background-color: cadetblue;
        padding: 25px;
        font-size: small;
        border-radius: 50px;
        margin: 1vh auto;
    }

    .card {
            
        /* Adjust font for Bootstrap cards adding some top and bottom margin */
        margin: 5vh auto;
        font-family: 'Roboto Mono', monospace;
        border: 1px solid black;
    }

    .card button,
    .card form input {
        
        max-width: 90%;
        margin: 5vh auto;
    }

    .comment-items {
        
        /* Remove bullets from comment list items */
        list-style-type: none;
    }

    .collapsed {
        
        /* Space for collapsible button */
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #collapse-comments {
        
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}

/** Base.html **/

@media (min-width: 280px) {
    
    .navbar {
    
        background-color: cadetblue !important;
        border-bottom: 5px solid darkgray;
    }

    .navbar a {
        
        /* Change default link color */
        color: #FFF !important;
    }
    
    .logo {
    
        border-radius: 50%;
    }
}

/** Index.html **/

@media (min-width: 280px) {
    
    .home-bg {
    
        background-image: url("/static/img/logo.jpg");
        background-position: center center;
        background-size: contain;
        width: 50vw;
        margin: 5vh auto;
        min-height: 150px;
        background-repeat: round;
        border-top: 5px solid lightsteelblue;
        border-bottom: 5px solid lightsteelblue;
    }
    
    .index-list-col {
        
        margin: auto auto;
        text-align: center;
        border-left: 10px double lightsteelblue;
        border-right: 10px double lightsteelblue;
        font-family: "Roboto-Mono", monospace;
        font-weight: bold;
    }

    .home-lead {
        
        text-align: center;
        margin: 5vh auto;
        font-weight: bold;
    }

    .list-group-item {
        
        background-color: inherit;
        border: none;
        margin: 5vh auto;
    }
    
    .list-group-item i {
        
        /* Keep icons on separate lines */
        display: block;
        margin: 1vh auto;
    }
    
    .index-lead {
    
        /* Set minimum height of row and apply margin to top-bottom and centered */
        min-height: 300px;
        margin: 20px auto;
        width: 75%;
    }
}

/** Tickets.html **/

@media (min-width: 280px) {
    
    #create-ticket-form {
        
        font-family: "Orbitron", sans-serif;
        padding-top: 20px;
        text-align: center;
        border: 5px solid lightsteelblue;
    }
    
    .close-ct-form,
    .submit-ct-form {
        
        /* Have buttons on separate lines for mobile with added top/bottom margins */
        margin: 5vh auto !important;
    }
    
    .ticket-container {
    
        border-left: 10px solid lightsteelblue;
        margin: 5vh auto;
    }

    .ticket-headline-row {
        
        min-height: 300px;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .ticket-filter-form {
        
        border: 5px solid lightsteelblue;
        text-align: center;
        font-family: "Orbitron", sans-serif;
        width: 50vw;
        margin: 5vh auto;
        font-size: small;
    }

    .ticket-filter-form p {
        
        margin: 5vh auto;
        font-weight: bold;
    }

    .ticket-filter-form p input,
    .ticket-filter-form input {
        
        /* Ensure input field does not extend beyond container */
        max-width: 90%;
        font-size: small;
    }

    .ticket-headline {
        
        font-family: 'Orbitron', sans-serif;
        background-color: #FFF;
        text-align: left;
    }

    .ticket-headline-img {
        
        background-image: url("https://www.lexialearning.com/sites/default/files/resources/tech-guides-support-icon.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .btn-show-comments {
        
        font-size: small;
    }
}

/** Stats.html **/

@media (min-width: 280px) {
    
    .chart-row {
    
        margin: 10vh auto;
    }

    .chart-container {
    
        border: 10px solid lightsteelblue;
        font-size: large;
        font-family: "Orbitron", sans-serif;
        margin: 5vh auto;
    }

    .dc-chart {
        
        /* Stick charts to right of div container and create top and bottom margins for space */
        float: right !important;
        margin-top: 10vh !important;
        margin-bottom: 10vh !important;
    }

    .chart-description {
        
        /* Description to float left of chart visible on larger screens */
        float: left;
        list-style-type: none;
        text-align: center;
        font-size: medium;
        font-style: italic;
    }

    .total-container {
        
        /* Apply border, padding and margins */
        border-left: 1px solid lightsteelblue;
        max-width: 75vw;
        margin: 5vh auto;
        padding: 20px;
        text-align: center;
    }

    .total-pledged {
        
        /* Style with Google Font */
        font-family: 'Orbitron', sans-serif;
    }
    
    .total-note {
        
        font-family: 'Roboto-Mono', monospace;
    }
}