{% extends 'base.html' %} 

{% block content %}

<div class="row game-row">

    {% for god in celtic_gods %}

    <div class="col-lg-4 col-md-4 mb-4">

        <!-- Insert celtic themed questions here! -->
        <div class="container-fluid align-center">

            <!-- Image header using image_source from data -->
            <img class = "game-img" src="{{ god.image_source }}"></img>
            
            <form class = "answer-form" method="POST">
                <label for="answer">Answer-{{loop.index}}: </label>
                <input type="text" id="answer{{loop.index}}" name="answer{{loop.index}}">
            </form>

        </div>
        <!-- /.container-fluid align-center -->

    </div>
    <!-- /.col-lg-4 col-md-4 mb-4 -->

    {% endfor %}

</div>
<!-- /.row game-row -->
    
{% if correct %}

    <!-- Create a new row and increase user score with description and wiki attributes displayed using the index to access the correct dictionary in the data -->
    <div class = "row answer-row">
    
        <div class="container-fluid align-center">
    
            <h2>Well done!</h2>
            <!-- Print out the user and set the user to this name -->
            <div class = "game-user">{{ user }}</div>
            {% set user = user %}
            <!-- Increase the user_score variable by 100 points -->
            {% set user_score = user_score|int + 100 %}
            <div class = "game-current-score">Your score is now {{ user_score }}</div>
            <p style = "visibility: hidden">{{ update_score (user, user_score) }}</p>
            <div class = "god-description">Did you know: {{ celtic_gods[index].description }}
                <a class = "god-link" href = "{{ celtic_gods[index].wiki }}" target = "_blank">Read more!</a>
            </div>
            
        <!-- /.container-fluid align-center -->
    
    <!-- /.row answer-row -->

{% else %}
    
    <div class = "game-retry-heading">Try again!</div>

{% endif %}

{% endblock %}
