/** General Styling **/

/*
    Navigation
*/

.navbar-brand {
    font-family: 'Chicle', cursive;
}

/*
    Footer
*/

.footer {
    margin-right: 0;
    margin-left: 0;
    padding: 10px;
    background-color: grey;
    color: #FFF;
    font-family: "Chicle", cursive;
    font-size: xx-large;
}

.footer-event-link {
    font-style: italic;
    color: coral;
}

.fb-icon,
.twt-icon,
.ut-icon,
.gp-icon,
.inst-icon {
    font-size: xx-large;
}

/*
    Keyframe for spinning element
*/

@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}

/*
    Event handling on hover for footer social media icons
*/

.fb-icon:hover {
    background-color: #3B5998;
    color: white;
    cursor: pointer;
}

.twt-icon:hover {
    background-color: #1da1f2;
    color: white;
    cursor: pointer;
}

.ut-icon:hover {
    background-color: #cc181e;
    color: white;
    cursor: pointer;
}

.gp-icon:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.inst-icon:hover {
    background-color: #fb3958;
    color: white;
    cursor: pointer;
}

/** Index.html **/

/*
    Rule to create a circle image and apply spinning animation
*/

@media (min-width: 280px) {
    .heading {
        background-image: url("https://i5.walmartimages.com/asr/14aca866-fc33-4d09-921a-d1086ae44a1d_1.000d2d420f20c82c84c8a74796cd8ba8.jpeg?odnBg=ffffff");
        background-repeat: no-repeat;
        height: 180px;
        width: 180px;
        background-size: contain;
        border-radius: 50%;
        background-position: center center;
        border: 5px solid black;
        margin: 20px auto;
        animation: spin 4s linear infinite;
        /* Keep element in front of other elements in case animation causes overlap */
        z-index: 1;
    }
}

/*
    Adjust image width and height for animated element
*/

@media (min-width: 600px) {
    .heading {
        width: 400px;
        height: 400px;
    }
}

@media (min-width: 280px) {
    .music-lead,
    .video-lead,
    .event-lead {
        width: 90vw;
        margin: 10vh auto;
        font-size: xx-small;
        border: 5px solid coral;
    }
}

@media (min-width: 600px) {
    .music-lead,
    .video-lead,
    .event-lead {
        margin: 10vh auto;
        border: 5px solid black;
    }
}

/*
    For mobile columns occupy full-width
*/

@media (min-width: 280px) {
    .music-text-col,
    .video-text-col,
    .event-text-col {
        width: 100%;
        text-align: center;
        padding-top: 50px;
        background-color: #E47313;
        display: inline-block;
    }
}

/*
    For larger screens float text to left of image
*/

@media (min-width: 600px) {
    .music-text-col,
    .video-text-col,
    .event-text-col {
        text-align: center;
        padding-top: 50px;
        display: inline-block;
        width: 50%;
        float: left;
    }
}

/* 
    Custom styles for each text column 
*/

.music-text-col {
    background-color: #E47313;
}

.video-text-col {
    background-color: #600E7E;
}

.event-text-col {
    background-color: #1397F9;
}

/*
    For mobile columns occupy full-width
*/

@media (min-width: 280px) {
    .music-image-col,
    .video-image-col,
    .event-image-col {
        background-size: cover;
        display: inline-block;
        min-height: 300px;
        width: 100%;
        background-position: center center;
    }
}

/*
    Larger screens float image to right of text
*/

@media (min-width: 600px) {
    .music-image-col,
    .video-image-col,
    .event-image-col {
        background-size: cover;
        display: inline-block;
        width: 50%;
        background-position: center center;
        float: right;
    }
}

/* 
    Custom styles for each image column 
*/

.music-image-col {
    background-image: url("http://www.melaniedekker.com/wp-content/uploads/2018/01/vinyl-records2.jpg");
}

.video-image-col {
    background-image: url("https://flavorwire.files.wordpress.com/2016/02/the_monkees.jpg?w=1364");
}

.event-image-col {
    background-image: url("http://www.bloggingtips.com/wp-content/uploads/2014/12/Event-Blogging-Strategies.jpg");
}

/* 
    Additional custom styles 
*/

.music-lead-text,
.video-lead-text,
.event-lead-text {
    font-family: 'Chicle', cursive;
    font-size: x-large;
    color: white;
    padding: 10px;
}

.music-lead-icon,
.video-lead-icon,
.event-lead-icon {
    position: relative;
    font-size: x-large;
    color: white;
}

/** Music.html **/

.card-title,
.card-text,
.track-heading {
    font-family: "Chicle", cursive;
}

.track-heading {
    color: coral;
    margin: 5vh auto;
}

.track-title {
    height: 20%;
    font-size: xx-large;
    padding-top: 50px;
}

.audio {
    position: relative;
    margin: 0 auto;
    width: 50%;
    padding-top: 10%;
}

.videos-row {
    text-align: center;
    font-family: "Chicle", cursive;
    margin: 10vh auto;
    background-color: coral;
    padding: 20px;
    border: 5px solid black;
}

.video {
    border: 5px solid black;
    border-radius: 20px;
    display: inline-block;
    width: 100%;
}

.youtube-row {
    text-align: center;
    font-family: "Chicle", cursive;
    margin: 10vh auto;
    padding: 1%;
    background-color: coral;
    border: 5px solid black;
}

.youtube-row-lead {
    font-size: xx-large;
}

.youtube-row-icon {
    display: block;
    font-size: xx-large;
    margin: 5vh auto;
}

.youtube-iframe {
    display: inline-block;
    border: 10px solid #FFF;
    width: 100%;
    height: 40vh;
}

@media (min-width: 280px) {
    .greatest-hits-row {
        text-align: center;
        border: 5px solid black;
        margin: 10vh auto;
    }

    .card {
        margin: 10vh auto;
    }

    .card-column {
        padding: 0;
    }

    .track-box {
        width: 100%;
        display: inline-block;
        border: 5px solid black;
        text-align: center;
        padding: 0;
        position: relative;
        margin: 10px auto;
        font-family: "Chicle", cursive;
        background-color: coral;
    }
}

@media (min-width: 600px) {
    .card {
        width: 70%;
        margin: 10vh auto;
        border: 5px solid coral;
    }

    /*
        Create tracks inside circular elements
    */
    
    .track-box {
        min-height: 250px;
        border-radius: 50%;
        margin: 2vh auto;
    }
}

/** Gallery.html **/

@media (min-width: 280px) { 
    .gallery-row {
        margin: 10vh auto;
        text-align: center;
        font-family: "Chicle", Cursive;
        font-size: xx-large;
        min-height: 400px;
    }
    
    .gallery-text {
        background-color: coral;
        border: 5px solid black;
        margin: 20vh auto;
        width: 80%;
    }
    
    .w3-display-bottomright {
        /* Changes the default absolute position so that caption is beneath image with margin in between */
        position: relative;
        margin: 5vh auto;
    }
}

/** Events.html **/

@media (min-width: 280px) {
    .upcoming-events-text {
        font-family: "Chicle", cursive;
        margin: 10vh auto;
        text-align: center;
    }
    
    .events-table-row {
        margin: 10vh auto;
    }
    
    .events-table {
        font-family: "Chicle", cursive;
        margin: 5vh auto;
        height: 90vh;
        width: 90vw;
    }
    
    .events-banner-image {
        background-image: url("http://wikimotive.com/wikiblog/wp-content/uploads/sites/2/2013/10/events-heavenly-header1.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 300px;
        border-radius: 10px;
    }
    
    .events-table-content {
        background-color: #FFF;
        color: #000;
    }
    
    .event-table-item {
        border-bottom: 5px solid coral;
        border-top: 5px solid coral;
        text-align: left;
    }

    .events-booking-icon {
        font-size: xx-large;
        margin: 5vh auto;
    }
    
    .enquiry-lead {
        letter-spacing: 1px;
        padding: 10px;
    }
    
    .booking-button {
        margin: 5vh auto;
    }
    
    .event-booking-row {
        background-color: coral;
        color: #000;
        text-align: center;
        font-family: "Chicle", cursive;
        margin: 10vh auto;
        width: 90vw;
        border: 5px solid black;
        display: block;
    }
    
    .modal-instructions {
        color: #6c757d;
    }
}
