<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Materialize CSS Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Caveat|Courgette" rel="stylesheet"> 
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = 'css/portfolio-item.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('get_recipes') }}">Cookbook Tracker<i class = "material-icons inline-icon">apps</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('get_recipes') }}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('add_recipe') }}">Add Recipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('stats') }}">Recipe Statistics</a>
            </li>
          </ul>
        </div>
        <!-- /.collapse navbar-collapse -->
      
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->
    
    <!-- Template Page Content -->
    <div class = "container">
      
      {% block content %}
      <!-- Template Content Goes Here! -->
      {% endblock %}
    
    </div>
    
    <!-- Footer -->
    <footer class="py-5">
      
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Cookbook App 2018</p>
      </div>
      <!-- /.container -->
      
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename = 'vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  </body>

</html>
