{% extends "common.html" %}

{% block content %}

    <!-- Portfolio Item Heading -->
    <h1 class="my-4 align-center">Recipes</h1>

    <!-- Portfolio Item Row -->
    {% for recipe in recipes %}
    <div class = "container">
    
      <div class="row">
  
        <div class="col-md-6">
          <img class="img-fluid recipe-image" src="{{ recipe.image }}" alt="{{ recipe.recipe_name }}">
          <div class ="row button-select">
            <div class="col-md-12">    
              <a href="{{ url_for('add_recipe', recipe_id = recipe._id) }}" class = "btn btn-primary col-md-3">Add Recipe</a>
              <a href="{{ url_for('edit_recipe', recipe_id = recipe._id) }}" class = "btn btn-success col-md-3">Edit Recipe</a>
              <a href="{{ url_for('delete_recipe', recipe_id = recipe._id) }}" class = "btn btn-warning col-md-3">Delete Recipe</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 align-right">
          <h3 class="my-3">{{ recipe.recipe_name }}</h3>
          <!-- Return the step number and direction from the collection attribute directions -->
          {% for step, direction in recipe.directions.items() %}
          <h3 class="my-3">Directions</h3>
          <li>{{ step }}</li><p>{{ direction }}</p>
          {% endfor %}
          <h3 class="my-3">Ingredients</h3>
          <!-- Return the names and quantities needed for the recipe -->
          {% for ingredient in recipe.ingredients %}
          <ul>
            <li>{{ loop.index }}</li>{{ ingredient }}
          </ul>
          {% endfor %}
        </div>
  
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    
    <hr class = "recipe-divider"/>
    
    {% endfor %}


    
    <!-- Related Projects Row -->
    <h3 class="my-4">Related Projects</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

    </div>
    <!-- /.row -->

{% endblock %}